.logo{
    background-image: url("./assets/logo.svg");
}
.logo3{
    background-image: url("./assets/logo3.svg");
}
.dash{
    background-image: url("./assets/pic1.svg");
}
.ads{
    background-image: url("./assets/PostAds.svg");
}
.compass{
    background-image: url("./assets/Drafting\ Compass.svg");
}
.cursor{
    background-image: url("./assets/Cursor\ in\ Window.svg");
}
.openai1{
    background-image: url("./assets/openai-logo\ 5.svg");
}
.openai2{
    background-image: url("./assets/openai-logo\ 6.svg");
}
.watch{
    background-image: url("./assets/Stopwatch.svg");
}
.guarantee{
    background-image: url("./assets/Guarantee.svg");
}
.hand{
    background-image: url("./assets/Handshake\ Heart.svg");
}
.vector{
    background-image: url("./assets/Vector.svg");
}
.vector0{
    background-image: url("./assets/arrow.svg");
}
.lap1{
    background-image: url("./assets/lap1.svg")    ;
}
.lap2{
    background-image: url("./assets/lap2.svg")    ;
}
.lap3{
    background-image: url("./assets/lap3.svg");
}
.letter{
    background-image: url("./assets/Letter.svg")    ;
}
.insta{
    background-image: url("./assets/Instagram.svg")    ;
}
.phone{
    background-image: url("./assets/Phone.svg")    ;
}
.linkedin{
    background-image: url("./assets/LinkedIn.svg")    ;
}
.logofoot{
    background-image: url("./assets/logofoot.svg")    ;
}
.bigphone{
    background-image: url("./assets/bigphone\ .svg")    ;
}
.bigcursor{
    background-image: url("./assets/bigcursor.svg")    ;
}
.ham{
    background-image: url("./assets/Menu.svg");
}

.correct{
    background-image: url("./assets/correct.svg");
}
.incorrect{
    background-image: url("./assets/incorrect.png");
}

.wavebg{
    background-image: url("./assets/wavebg.png");
}
  /* WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color:#0F0F0F;
}

::-webkit-scrollbar-thumb {
    background-color:#E5313A;
    border-radius: 2px;
}


